*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}

html {
	font-family: Poppins, sans-serif;

	--ex-l-green: rgb(30, 252, 30);
	--l-green: rgb(20, 153, 17);
	--green: rgb(37, 109, 27);
	--d-green: rgb(36, 79, 38);
	--gray: rgb(66, 67, 66);
	--purply-magenta: #631b6d; /*complementary to green */
	--magenta: #961199; /*complementary to  l-green */

	--main-white: #f0f0f0;
	--main-red: #be3144;
	--main-blue: #45567d;
	--main-gray: #303841;
	--background-1: var(--main-red);
}
body {
	background: var(--background-1);
}

/* NAVBAR-------- */
.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 6rem;
	background-color: rgb(189, 188, 188);
	background: linear-gradient(45deg, #eee, rgb(255, 255, 255) 40%);
	z-index: 2;
	display: flex;
	justify-content: flex-end;
	box-shadow: 0 0.1rem 0.3rem #333;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	height: 100%;
	width: 40vw;
	background-color: rgb(255, 255, 255);
}

.nav-item {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.nav-link {
	text-decoration: none;
	color: #303841;
	font-size: 2.5rem;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-link:hover {
	font-size: 2.7em;
	color: #303841;
	transition: 0.1s;
	background-color: var(--main-white);
}

/* HERO-------- */
#welcome-section {
	background: var(--l-green);
	height: 100vh;
	text-align: center;
	padding-top: 35vh;
	background: radial-gradient(
		circle at 100%,
		#333,
		#333 50%,
		#eee 75%,
		#333 75%
	);
	color: transparent;
}
#welcome-section:hover {
	color: var(--main-red);
	transition: 5s;
}
#welcome-section h1 {
	font-size: 10rem;
	font-weight: bold;
	padding: 0 2rem;
	background-color: #f3ec78;
	background-image: linear-gradient(90deg, #333 35%, #eee 45%, #eee);
	background-clip: text;
	color: inherit;
}
.hey {
	font-size: inherit;
	color: #333;
}

#welcome-section p {
	font-size: 5rem;
	font-style: italic;
	padding: 0 8rem 0 42rem;

	position: relative;
	top: -6rem;
	background-color: #f3ec78;
	background-image: linear-gradient(90deg, #333 40%, #eee 70%);
	background-clip: text;
	color: transparent;
}

/* PROJECTS -------- */

#projects {
	margin: 0rem auto;
	max-width: 1300px;
	background-color: red;
	background-color: var(--background-1);
	padding: 0.1rem 2rem;
}

#projects-heading {
	max-width: 80rem;
	width: calc(100% - 12rem);
	text-align: center;
	margin: 0rem auto;
	font-size: 4rem;
	margin-bottom: 20px;
	padding: 10rem 5rem 6rem 5rem;
	background-color: #f3ec78;
	background-color: var(--background-1);
	border-bottom: 0.2rem solid#333;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	grid-gap: 6rem;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #961199;
	background-color: var(--background-1);
	padding: 6rem;
}

.project-tile {
	background-color: #333;
	text-align: center;
	margin-bottom: 3rem;
	text-decoration: none;
	--span-color: transparent;
	border-radius: 2%;
	overflow: hidden;
	box-shadow: 0 1rem 2rem #23090d;
}

.project-tile-image {
	height: calc(100% - 6rem);
	width: 100%;
	object-fit: cover;
	margin: 0;
}
.project-tile-title {
	font-size: 2rem;
	height: 6rem;
	padding: 1rem;
	background-color: #333;
	color: #eee;
}

.project-tile-title span {
	color: var(--span-color);
	transition: 0.5s;
	font-size: inherit;
}
.project-tile:hover {
	--span-color: #eee;
}

/* .project-tile:link {
	text-decoration: none;
}
.project-tile:visited {
	text-decoration: none;
}
.project-tile:hover {
	text-decoration: none;
}
.project-tile:active {
	text-decoration: none;
} */

.projects-btn-container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-bottom: 6rem;
}

#profile-link {
	position: relative;
	margin: 0 auto;
	width: 15rem;
	height: 4rem;
	background-color: #333;
	font-size: 2rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0.5rem 1rem #23090d;
	--arrow-move: 0rem;
}
.profile-link-text {
	color: white;
	font-size: inherit;
	height: 3rem;
}

.profile-link-arrow {
	position: relative;
	top: -0.3rem;
	left: var(--arrow-move);
	color: white;
	font-size: 2.5rem;
	margin-left: 0.5rem;
	height: 3rem;
}

#profile-link:hover {
	--arrow-move: 1rem;
	background-color: rgb(100, 100, 100);
	transition: 0.3s;
}
